body{
    background-color: rgb(233, 233, 233);
}

footer{
    background-color: blue;
    color: aquamarine;
    bottom: 0;
    position: fixed;
    width: 100%;
    height:2rem:
}

footer p{
     text-align: center;
     font-size: 30px;
     margin:0.5rem;
 }
